@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  overflow: hidden;
  background-color: #272b30;
}

.hidden {
  display: none;
}

.main {
  height: auto;
  padding: 3.5vw 0 0 3.5vw;
}

.main .inputarea {
  position: relative;
  width: 90vw;
  padding: 1vh;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  min-height: 6vh;
  height: auto;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
}

.main .inputarea .input {
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
}

.main .inputarea .line {
  width: 2.5px;
  height: 35px;
  background-color: white;
  margin-left: 5px;
}

.main .row {
  display: flex;
  flex-direction: row;
  user-select: none;
}

.main .row .key {
  width: 10vh;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #3a3f44;
}

.main .row .key.first {
  margin-left: 0px !important;
}

.main .row .pressed {
  background-color: #6b737c;
}

.main .row1 {
  margin-bottom: 1vh;
}

.main .row1 .key {
  width: 9.99vh;
  height: 5vh;
  margin-right: 1vh;
}

.main .row1 .key#Escape {
  margin-right: 2vh;
}

.main .row1 .key#ins {
  margin-right: 2vh;
}

.main .row2 {
  margin-top: -1px;
  margin-bottom: 2vh;
}

.main .row2 .key {
  height: 10vh;
  margin-right: 2vh;
}

.main .row2 .key.bsp {
  width: 20vh;
}

.main .row3 {
  margin-top: -1px;
  margin-bottom: 2vh;
}

.main .row3 .key {
  height: 10vh;
  margin-right: 2vh;
}

.main .row3 .key.tab {
  width: 17.5vh;
}

.main .row3 .key.entertop {
  position: relative;
  width: 12.25vh;
  border-bottom: 0;
  transform-origin: bottom;
  border-radius: 5px 5px 0 5px;
}

.main .row3 .key.entertop .enterline {
  height: 1px;
  width: 2.25vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
}

.main .row4 {
  margin-top: -1px;
  margin-bottom: 2vh;
}

.main .row4 .key {
  height: 10vh;
  margin-right: 2vh;
}

.main .row4 .key.capslock {
  position: relative;
  width: 20vh;
}

.main .row4 .key.capslock .capslocklight {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  background: white;
  border-radius: 10px;
}

.main .row4 .key.enterbottom {
  position: relative;
  height: 12vh;
  bottom: 2vh;
  border-top: 0;
  right: 2px;
  border-radius: 0 0 5px 5px;
  transform-origin: top;
}

.main .row5 {
  position: relative;
  top: -2vh;
  margin-top: -1px;
  margin-bottom: 2vh;
}

.main .row5 .key {
  height: 10vh;
  margin-right: 2vh;
}

.main .row5 .key.lshift {
  width: 14vh;
}

.main .row5 .key.rshift {
  width: 27.5vh;
}

.main .row6 {
  position: relative;
  top: -2vh;
  margin-top: -1px;
  margin-bottom: 2vh;
}

.main .row6 .key {
  height: 10vh;
  margin-right: 2vh;
}

.main .row6 .key.lctrl {
  width: 14vh;
}

.main .row6 .key.spacebar {
  width: 58vh;
}

.main .row6 .key.smallkey {
  height: 5vh;
  margin-right: 3.75vh;
}

.main .row6 .key.smallkey.uarr {
  width: 12vh;
}

.main .extra {
  top: -2vh;
  margin-top: -1px;
  margin-bottom: 2vh;
}

.main .extra .key {
  height: 5vh;
  width: 12vh;
  margin-right: 1.75vh;
  position: relative;
  bottom: 8vh;
}

.main .extra .key.spacer {
  width: 135vh;
  opacity: 0;
}

.main .extra .key.rarr {
  margin-left: -0.75vh;
}
